* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(70deg, #b5c4ff 0%, #5746ee 110%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 1.5em;
  }
  
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header{
    margin-top: 4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  form button {
    color: #4753ff;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #4753ff;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.3rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    border-style: solid;
    border-color: rgb(88, 88, 88);
  }
  .filter-todo {
    padding: 1.03rem;
    background: white;
  }
  .todo li {
    flex: 1;
  }
  .date-text{
    font-size: 1rem;
  }
  
  .trash-btn, .complete-btn {
    background: #fc2d2d;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0.75;
    transition: all 0.2s ease;
  }
  .trash-btn:hover {
    opacity: 1;
  }
  .complete-btn {
    background: rgb(12, 214, 113);
  }
  .complete-btn:hover {
    opacity: 1;
  }
  .todo-item {
    padding: 0rem 1rem;
    white-space: nowrap;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #4753ff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;  
    background: #4753ff;
    cursor: pointer;
    pointer-events: none;
  }
  .select:hover::after {
    opacity: 0.95;
  }


@media only screen and (max-width: 600px){
  header {
    font-size: 1em;
  }
  form input, form button {
    font-size: 1em;
  }
  form button {
    background: #4753ff;
    color: white;
  }
  select {
    width: 10em;
  }
  .select::after {
    padding: 0.45em;
  }
  .filter-todo {
    padding: 0.6em;
  }
  .todo {
    margin: 0.5rem;
    font-size: 0.8em;
  }
  .todo-item {
    padding: 0 0.5em;
  }
  .date-text{
    font-size: 0.8em;
    padding: 0 0 0 0.3em;
  }
  .trash-btn, .complete-btn {
    padding: 2em;
    font-size: 0.7em;
    opacity: 1;
  }
}